/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
   *{
    width: 100%;
   }

   .top_menu{
    width: 100%;
   }
    .header-menu{
        display: none;
    }
    div#goal{
        font-size: 1px !important;
        padding-bottom: 350px;
    }
  .content{
    display: flex;
    width: 100%;
  }
  .pride-img{
    width: 100%;
}










}