*{
    padding: 0;
    margin: 0;
}.btn{
    border-radius: 5px;
    padding: 8px;
    border: transparent;
    box-shadow:  grey 1px 1px 1px 1px;
    margin: 10px;
    cursor: pointer;
}
.row{
    width: 100%;
    display: flex;
}

.col-lg-2{
    width: 20%;
}.col-lg-4{
    width: 40%;
}.col-lg-3{
    width: 30%;
}.col-lg-5{
    width: 50%;
}.col-lg-7{
    width: 70%;
}.col-lg-8{
    width: 80%;
}.col-lg-10{
    width: 100%;
}
.btn-success{background: #06de6b;}.btn-info{background: #0596c7;}.btn-default{background: #0596c700;}.btn-warning{background: #b3a809;}.btn-primary{background: #0676de;}
li, a{
    text-decoration: none;
    list-style: none;
}
